* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(29, 50, 152);
  background: radial-gradient(
    circle,
    rgba(29, 50, 152, 1) 0%,
    rgba(87, 43, 69, 1) 100%
  );
  color:white;
}

/* ------------scroll bar----------------- */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: lightblue;
  /* border-radius: 12px; */
  transition: all 0.3 ease;
}

::-webkit-scrollbar-thumb:hover {
  background: greenyellow;
}

/*---------------------- Background Image-------------  */

.header1 {
  background-image: url(images/background.png);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.container {
  padding: 10px 10%;
}

/* ------------------Navigation bar-------------------------  */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:0 7.5rem ;
}

/* #sticky{
  position: fixed;
  background: #61b752;
  top:0;
  left: 0;
  width: 100%;
} */

.logo {
  width: 160px;
}

/* menu list */
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

/* menu list font color change */
nav ul li a {
  color: #fff;
  text-decoration: none;
  /* remove under line */
  font-size: 18px;
  position: relative;
}

/* Hover effect to the menu a */
nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

/* --------------------header-------------------------------- */
.header-text {
  margin-top: 15%;
  font-size: 30px;
  letter-spacing: 4px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #ff004f;
}
.header-text span {
    color: yellow;
  }
#btn-hire{
    background-color: #c6104a;
    color: #fff;
    outline:red;
    padding: 8px 16px;
    border:1px #ff004f;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 0.3em 0.5em -0.4em;
    transition:background 0.5s;
}
#btn-hire:hover{
    background: #593bc5;
    color: whitesmoke ;
}

/* ---------------------- about ------------------- */

#about {
  padding: 80px 0;
  color: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 30%;
  padding-top: 50px;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-tittle {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

/* -------------------Tab tittle--------------- */

.tab-tittle {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  background: #ff004f;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-content ul li {

  list-style: none;
  margin: 10px 0;
}

.tab-content ul li span {
  color: #b3ff00;
  font-size: 16px;
}

.tab-content {
  display: none;
}

.tab-content.active-tab {
  display: block;
}

/* -----------Services------------------ */

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

/* --------------------services box background------------ */

.services-list div {
  background: #02082c;
  padding: 40px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}

/* ----------------Portfolio------------ */

#portfolio {
  padding: 50px 0px;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  font-size: 25px;
  text-align: center;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.btn:hover {
  background: #ff004f;
}

/* --------------------contact ME---------------- */
.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #ff004f;
  margin: 10px;
  font-size: 25px;
}

.social-icon {
  margin-top: 30px;
}

.social-icon a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #fff;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icon a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}

#btn-cv {
  display: block;
  margin-top: 30px;
  text-decoration: none;
  width: fit-content;
  border-radius: 6px;
  background: #ff004f;
  padding: 14px 50px;
  color: #fff;
  box-shadow: 0 0.3em 0.5em -0.4em;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #02082c;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

.btn.btn2 {
  background: #ff004f;
  box-shadow: 0 0.3em 0.5em -0.4em;
}

form .btn2 {
  padding: 12px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  margin-left: 0;
}

/* ----------Copyright---------------- */
.copyright {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background: rgb(29, 50, 152);
  background: radial-gradient(
    circle,
    rgba(29, 50, 152, 1) 0%,
    rgba(87, 43, 69, 1) 100%
  );
  /* margin-top: 20px; */
  margin: 20px 0px 0 0;
  font-weight: 300;
}

/* -----------Css for small screen----------------- */
nav .fas {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header1 {
    background-image: url(images/phone-background.png);
  }

  .header-text {
    margin-top: 100%;
    font-size: 20px;
  }

  .header-text h1 {
    font-size: 30px;
  }

  nav .fas {
    display: block;
  }
  nav{
    padding: 0 3rem;
  }

  nav ul {
    background: #8054ef;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .sub-tittle {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
}

#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}
